@model IEnumerable<Bookstore.Models.Book>

@{
    ViewData["Title"] = "Livros";
}

<h1>Livros</h1>

<p>
    <a asp-action="Create">Criar novo livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @foreach (Genre genre in item.Genres)
                {
                        <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.Id" class="text-primary">@genre.Name</a> <br/>
                }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning px-2 py-1 rounded mx-1">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info px-2 py-1 rounded mx-1">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger px-2 py-1 rounded mx-1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
